/ %section.about_wrapper
/   .info_box
/   .info_panel.text-center
/     %h1 Hello
/     %p 
/       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis rem facilis. Tempore est nostrum sit. Ratione autem nostrum perspiciatis.


.about_wrapper
  .info_panek
  .info_panel
    .page-header
      %h2 O nas
    .info_content
      %p Tasiemka to strona z najnowszymi informacjami znajdującymi się na największych portalach internetowych. Tasiemka zbiera wydarzenia z takich stron jak Onet, TVN24 czy też Interia. 
      %p W najbliższej przyszłości planujemy również przedstawiać najnowsze kolekcje sklepów takich jak House, Cropp Town, Diverse itp.
