/* @import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext); */

body {
       
}

@font-face {
  font-family: 'Philosopher-Regular';
  src:font-url('Philosopher-Regular.eot');
  src:font-url('Philosopher-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('Philosopher-Regular.svg#Philosopher-Regular') format('svg'),
  font-url('Philosopher-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#main_site_wrapper {

}

.sites_component {
  height: 100%;
}
.front_site {
  overflow: hidden;
  /* height:100%; */
  font-family: 'Philosopher-Regular';
 /*  background: -webkit-linear-gradient(90deg, #D38312 10%, #A83279 90%); Chrome 10+, Saf5.1+
                background:    -moz-linear-gradient(90deg, #D38311 10%, #A83279 90%); FF3.6+
                background:     -ms-linear-gradient(90deg, #D38312 10%, #A83279 90%); IE10
                background:      -o-linear-gradient(90deg, #D38312 10%, #A83279 90%); Opera 11.10+
                background:         linear-gradient(90deg, #D38312 10%, #A83279 90%); W3C
          
            background: -webkit-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); Chrome 10+, Saf5.1+
            background:    -moz-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); FF3.6+
            background:     -ms-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); IE10
            background:      -o-linear-gradient(90deg, #7b4397 10%, #dc2430 90%); Opera 11.10+
            background:         linear-gradient(90deg, #7b4397 10%, #dc2430 90%); W3C
          */         
}

.galery_site {
  .col-md-4 {
    width: inherit;
  }
}
.ui.sidebar {
  height: 100%;
  .row.ui.large {
    height: 100%;
  }
  .fa {
    color: $dark_gray;
    cursor: pointer;
    font-size: 8em;
  }

  .fa-times {
    font-size: 22px;
    margin-top: 10px;
  }

  .navbar_logo {
    margin-top: 0px;
  }

  .layoutlist {
    margin-top: 8em;
    color: $light_gray;
    
    li {
      padding-bottom: 1em;
    }

    li.facebook_like {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .fa {
      position: relative;
      @include transition(0.8s);
      &:hover {
        @include transition(0.8s);
        color: darken($pink_maincolor, 20%);

        .fa-check {
          color: $light_gray;
          @include transition(0.8s);
        }
      }
      .fa-check {
        color: darken($pink_maincolor, 20%);
        position: absolute;
        font-size: 0.5em;
        left:0;
        top: 0.5em;
        right:0;
        margin-left:auto;
        margin-right:auto;
        @include transition(0.8s);
      }
    }

  }
}



.logo {
  width: 160px;
  height: 80px;
}

.navbar {
  background: white;
  padding: 20px 0;
  margin-bottom: 0;
  margin-left: -20px;

  #logo {
    margin-top: -30px;
  }

  .fa {
    color: $pink_maincolor;
  }
}

.ui.selection.dropdown .menu > .item {
  width: 100%;
}


.sites_wrapper {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  margin-top: 15px;
  background: rgba(200, 54, 54, 0.5);
  z-index: 2;
  .site_wrapper {
    /* border: 3px solid white; */
  }

  .col-md-12 {
    position: relative;
    .logo_site {
      width: 15px;
    }
  }
}

.siteformwrapper {
  width: 240px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
  @include transition(0.6s);
  color: $main_fontcolor;

  .col-md-12 {
    padding: 0;
  }

  &:hover {
    @include transition(0.6s);
    width: 240px;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    background: url(down_arrow_select.jpg) no-repeat right #ddd;
    outline: 0;
  }

  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  select {
    outline: 0;
    background: transparent;
    width: 240px;
    padding: 5px;
    font-size: 17px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .select_site {
    @include transition(0.6s);
    padding-left: 44px;
    font-size: 20px;
    text-transform: uppercase;
    option {
      color: black;
      font-size: 16px;
    }

    &:hover {

      @include transition(0.6s);
      color: $pink_maincolor;
    }
  }
}

.form-inline {
  position: relative;

  img {
    position: absolute;
    width: 30px;
    margin-top: 5px;
    margin-left: 5px;
  }
}
.infinite-list-item {
  height: 40px;
  width: 98%;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: $light_gray;
}
.article_wrapper {
  color: black;
  width: 98%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background: $light_gray;
  position: relative;
  
  .article_num {
    position: absolute;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 0;
    display: block;
    background: $dark_gray;
  }

  .article_title {
    position: absolute;
    float: left;
    padding-top: 5px;
    margin-left: 50px;
    font-size: 16px;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}  

.about_wrapper {
  width: 100%;
  height: 100%;
  background: url(startup-photos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .btn.btn-block {
    margin-top: 60px;
  }

  .info_panel {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    
    width: 75%;
    height: 70%;

    padding: 20px;  
    background: rgba(255, 255, 255, 0.35);
    color: black;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

    h2 {
      margin-bottom: 40px;
      margin-top: 40px;
    }

    .info_content {
      font-size: 1.5em;
    }
  }
  .info_panek {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    
    /*
    This doesn't work
    margin-left: -25%;
    margin-top: -25%;
    */
    
    width: 75%;
    height: 70%;

    padding: 20px;  
    background: rgba(255, 255, 255, 0.35);
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    filter: blur(5px);
  }
}

.flash {
  animation-iteration-count: 1;
}


@-moz-document url-prefix() {
  select, select:-moz-focusring, select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 #000 !important;
    background-image: none !important;
    border:0;
  }
}
.info.icon {
  bottom: 0;
  left: 10px;
  margin-right: 0;
  padding-left: 0;
  top: 0;
}
.about_info {
  font-size: 17px;
}
i.sidebar {
  cursor: pointer;
}


.divider {
  border: $pink_maincolor solid 1px;
}

.navbar-toggle {
  &:active,&:focus,&:hover {
    background-color: $pink_maincolor !important;
    
    .icon-bar {
      background-color: white !important;
    }
  }
}

.navbar-toggle.collapsed {
  background-color: white !important;
    
  .icon-bar {
    background-color: gray !important;
  }
}

.awesome-share-buttons {
  font-size: 18px;
  margin-left: 0px;
  a {
    margin-right: 0px;
  }
}


.mobile_link {
  padding-left: 20px;
  font-size: 20px;
}

.social-share-button-facebook {
  
}

.fa-facebook-square {
  color: $pink_maincolor; 
}

/* NAVBAR */
.ui.menu {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  
  .item {
    &:before {
      content: none;
    }
    a {
      color: $pink_maincolor;
      text-align: center;
      position: absolute;
      width: 55%;
      /* height: 50%; */
      top: 37%;
    }
  }

  .kontakt {
    margin-right: 0px;
    padding-right: 2px;
    padding-left: 2px;
    button.inverted.red {
      color: darken($pink_maincolor, 20%);
      box-shadow: 0px 0px 0px 2px $pink_maincolor inset !important;
      &:hover,&:focus,&:active {
        background-color: $pink_maincolor;
        color: white;
      }
    }
  }
}

.hidden_menu {
  padding: 20px 0;
  h1 {
    font-family: 'Philosopher-Regular' !important;
    font-weight: 500;
    color: $pink_maincolor;
  }
}


.about_site {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.galery_article {
  .galeryimage {
    position: relative;
    float: left;
    width:  250px;
    height: 200px;
    padding-right: 5px;
    padding-bottom: 5px;
    
  }
}

.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  .col-md-3 {
    display: inline-block;
    width: 440px;
    height: 100%;
    margin: 0;
    text-align: left;
    position: relative;
  }
}

figure {
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 214px;

  &:hover {
    img {
      transform: translateX(-75px);
      transition: transform 0.6s, opacity 0.1s;
    }

  }
  
  img {
    height: 250px;
    margin-top: -33px;
    background-size: 100%;
    transition: transform 0.4s;
      -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  figcaption {
    top: auto;
    background: #1b1c1d;
    color: white;
    border-top: solid 2px;
    position: relative;
    font-size: 14px;
    width: 100%;
    height: 50px;
    opacity: 1;
    transform: translateY(-50px);
    transition: transform 0.4s, opacity 0.1s;
    //border-color: darken($pink_maincolor, 20%);
    
    .title {
      position: absolute;
      top: 3;
      height: 55px;
      width: 100%;
      text-align: left;
      padding-left: 5px;

    }

    .button {
      z-index: 99;
      margin: -3em 0.25em 0em 0em !important;
    }

    .icons {
      background: $deep_gray;
      position: absolute;
      padding-top: 1px;
      height: 20px;
      bottom: 3px;
      top: 55px;
      color: black;
      width: 100%;

      .icon {
        padding-left: 5px;
      }
      .star {
        color: yellow;
      }
      .heart{
        color: red;
      }
    }

  }
}

.articles {
  .col-md-3 {
    width: 18em;
    margin-left: 6px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0px !important;
  }
}

.favitem {
  padding: 0px !important;
  margin-right: 1em !important;
}

.searchheader {
  margin-bottom: 10px !important;
  margin-left: 5px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;

  .header {
    span {
      margin-left: 2em;
    }
  }
}
.popup {
  color: red;
}


.content {

  textarea {
    margin-bottom: 55px;
  }

  .ui.header:first-child {
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .header {
    margin-bottom: 30px;
  }
}
h4.ui.horizontal {
    margin-bottom: 58px;
  .icon {
    color: $dark_gray !important;
  } 
}

.red {
  color: darken($pink_maincolor, 20%);
  box-shadow: 0px 0px 0px 2px $pink_maincolor inset !important;
  &:hover,&:focus,&:active {
    background-color: $pink_maincolor;
    color: white;
  }
}
body > div.ui.dimmer.modals.page.transition.visible.active > div > div.content > form > div.two.fluid.ui.inverted.buttons > input {
  margin-top: 30px;
  color: darken($pink_maincolor, 20%);
  box-shadow: 0px 0px 0px 2px $pink_maincolor inset !important;
  &:hover,&:focus,&:active {
    background-color: $pink_maincolor;
    color: white;
  } 
}

body > div.about_wrapper > div.info_panel > div.col-md-8.col-md-offset-2 > a {
  color: darken($pink_maincolor, 20%);
  box-shadow: 0px 0px 0px 2px $pink_maincolor inset !important;
  &:hover,&:focus,&:active {
    background-color: $pink_maincolor;
    color: white;
  } 
}

/* MODAL NEWSLETTER */
html body div.sites_component div.front_site.pushable div.pusher div.ui.dimmer.modals.page.transition.visible.active div.ui.small.modal.transition.visible.active {
  top: 1em;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 400px;
  height: 50%;
}
/* MOdal navbar button input */
html body div.sites_component div.front_site.pushable div.pusher div.ui.dimmer.modals.page.transition.visible.active div.ui.small.modal.transition.visible.active div.content form.ui.form div.two.fluid.ui.inverted.button {
  padding-right: 0; 
  padding-left: 0;
}

body > div.sites_component > div > div.pusher > div.ui.dimmer.modals.page.transition.visible.active > div > div.content > form > h4 {
  margin-top: 35px;
  margin-bottom: 30px;
}

/* NEWSLETTER EMAIL AND TOPIC */

body > div.sites_component > div > div.pusher > div.ui.dimmer.modals.page.transition.visible.active > div > div.content > form > div.two.fields {
  margin-top: 17px;
}

.header {
  i.close.icon {
    font-size: 13px;
  }
}

.modal {
  .checkbox {
    input {
      margin: 0;
    }
    label {
      cursor: pointer;
    }
  }

  .content {
    position: relative;
    .invalid {
      text-align: center;
      top: 0;
      left: 0;
      margin-top: 4px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      border-radius: 0;
    }
  }
}

#showmsg {
  position:absolute;
  width: 25%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 10;
  display: none;
}
.betterMainWrapper {
  position: absolute !important;
  top: 42px;
  left: 18px;
  font-size: 11px;
}

p.betterMain {
  font-family: 'Philosopher-Regular';
  color: $dark_gray;
  position: relative !important;
  
  span.better {
    position: absolute !important;
  }
  span.typed-cursor {
    opacity: 0 !important;
  }
  span.ofInternet {
    position: absolute !important;
    top: 0;
    left: 30px;
    width: 100px;
  }
}

button.button.blue {
  position: absolute;
  top: -123px;
  right: 0px;
}

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-duke {
  background: -webkit-linear-gradient(-45deg, $pink_maincolor 0%,$deep_gray 100%);
  background: linear-gradient(-45deg, $pink_maincolor 0%,$deep_gray 100%);
}

figure.effect-duke img,
figure.effect-duke p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-duke:hover img {
  opacity: 0.1;
  -webkit-transform: scale3d(2,2,1);
  transform: scale3d(2,2,1);
}

figure.effect-duke:hover figcaption {
  background: #1b1c1d;
  color: white;
  border-top: solid 2px;
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 50px;
  opacity: 1;
  transform: translateY(-50px);
  transition: transform 0.4s, opacity 0.1s;
  top: 47px;
    //opacity: 0;
  //-webkit-transform: scale3d(2,2,1);
  //transform: scale3d(2,2,1);
}


figure.effect-duke h3 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 25% 50%;
  transform-origin: 50% 100%;
  margin-top: 12px;
  
  .col-md-6 {
    padding: 0;
  }
}

figure.effect-duke p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 30px;
  min-width: 86%;
  border: 2px solid #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
}


figure.effect-duke:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  background: $deep_gray;
  min-width: 92%;
  margin-bottom: 65px;
   top: -199px;
}
figure.effect-duke:hover h3 {
  opacity: 0;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

/* Media queries */
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}


.link {
  cursor: pointer;
}

figcaption {
  .silver {
    position: absolute;
    top: 150px;
    left: 21px;
  }
  .green {
    position: absolute;
    top: 150px;
    left: 134px;
  }

  .red {
    position: absolute;
    top: 150px;
    left: 173px;
  }
}


#knefel {
  padding-left: 2px;
}

.ui.menu a.item:hover {
  background: none;
}

.ranking_wrapper {
  .right.menu {
    margin-right: 10px;
  }

  .ui.large.menu {
    //background: $navbar_dark;
  }

  .jumbotron {
    background: #F4F4F4;
  }


  .popular_video {
    box-shadow: none !important;
    padding-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: block;
    font-weight: 300;
    min-height: 120px;
    padding: 40px;
    position: relative;
    text-align: left;
    transition: background 0s ease 0s, all 0.1s ease 0s;

    h3 {
      color: #444;
      font-size: 2em;
      margin: 0;
      padding: 0 0 5px;
    }

    p {
      font-weight: 500;
      line-height: 1.25;
      margin: 0 0 10px;
      padding: 0;
    }
    .popular_article_like {
      font-weight: 500;
      line-height: 1.25;
      margin: 30px 0 10px;
      padding: 0;
    }
  }
}
.popular_video.ui.basic.button {
  box-shadow: none !important;
}

