<div class="ranking_wrapper">
  <div class="pusher">
    <div class="ui large menu" id="main_navbar">
      <img class="logo" src="assets/tasiemka2.png" alt="Tasiemka"></img>
        <div class="item betterMainWrapper">
          <p class="text-center betterMain">Better <span class='better'> </span> <span class="ofInternet">of internet</span></p>
        </div>
      <div class="right menu">
        <a href="ranking" class="item text-center kontakt">
          <button class="ui purple basic button">Ranking</button>
        </a>  
        <a href="/" class="item text-center kontakt">
          <button class="ui blue basic button">App</button>
        </a>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">

      <h1 class="text-center">The most popular videos on Tasiemka</h1>
      <h2 class="text-center lead">Take a tea, sit down and relax</h2>
    </div>
  </div>
  <div class="container">
    <a href="/episodes/in-app-messaging-between-users?autoplay=1" class="popular_video ui purple basic button">

      <div class="row">

        <div class="col-sm-2 hidden-xs">
          <img alt="Bec1be2eba33fe80b594ef522fe0d18bc56ac727" src="https://embed-ssl.wistia.com/deliveries/bec1be2eba33fe80b594ef522fe0d18bc56ac727.jpg?image_crop_resized=400x240" class="img-responsive">
        </div>

        <div class="col-sm-9 col-xs-12">
          <h3 style="margin-top:0px">In-App Messages Between Users</h3>
          <p class="text-muted">Learn how to send messages between users with the Mailboxer gem</p>
          
        </div>

        <div class="col-sm-1 hidden-xs">
          <div class="popular_article_like">
            <div><i class="fa fa-heart"></i> <small>7</small></div>
          </div>
        </div>

      </div>
    </a>
  </div>
</div>
